@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AspNetCoreBlog.Models.PostDetailDto

@{
    ViewData["Title"] = $"{Model.Title} - {Model.Author}";
}

<div class="blog-post-detail">
    <h1>@Model.Title</h1>
    <p class="post-date">Yayınlanma Tarihi: @Model.PublishDateTime.ToString("G")</p>
    <p class="post-author">Yazar: @Model.Author</p>
    <section class="blog-post-summary">@Model.Summary</section>
    <section class="blog-post-content">
        @Html.Raw(Model.HtmlContent)
    </section>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Geri Dön</a>
</div>

